<h1>About</h1>

<p>Established March 2017 by <%= link_to 'Matt Gauger', 'http://blog.mattgauger.com' %>.</p>

<p>The code behind the Intelligence Augmentation BBS is an open source project, hosted on <%= link_to 'GitHub', 'https://github.com/mathias/intaug-bbs' %> under a MIT License. intaug.org is based on <%= link_to 'Thredded', 'https://thredded.org' %>. Feel free to report bugs and make suggestions in the GitHub repo or in the <%= link_to 'Site Issues', 'https://intaug.org/forum/issues' %> forum.</p>

<p>
<strong>Attribution:</strong>
<%= link_to 'Logo by Zlatko Najdenovski', '' %> under a <%= link_to 'Creative Commons (Attribution 3.0 Unported)', 'http://creativecommons.org/licenses/by/3.0/' %> license.
</p>
