<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= favicon_link_tag 'favicon-32x32.png', sizes: '32x32', type: 'image/png' %>
    <%= favicon_link_tag 'favicon-96x96.png', sizes: '96x96', type: 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', sizes: '16x16' %>
    <%= favicon_link_tag 'apple-touch-icon.png',
                         rel: 'apple-touch-icon', sizes: '57x57', type: 'image/png' %>
    <%= favicon_link_tag 'apple-icon-60x60.png',
                         rel: 'apple-touch-icon', sizes: '60x60', type: 'image/png' %>
    <%= favicon_link_tag 'apple-icon-72x72.png',
                         rel: 'apple-touch-icon', sizes: '72x72', type: 'image/png' %>
    <%= favicon_link_tag 'apple-icon-76x76.png',
                         rel: 'apple-touch-icon', sizes: '76x76', type: 'image/png' %>
    <%= favicon_link_tag 'apple-icon-114x114.png',
                         rel: 'apple-touch-icon', sizes: '114x114', type: 'image/png' %>
    <%= favicon_link_tag 'apple-icon-120x120.png',
                         rel: 'apple-touch-icon', sizes: '120x120', type: 'image/png' %>
    <%= favicon_link_tag 'apple-icon-144x144.png',
                         rel: 'apple-touch-icon', sizes: '144x144', type: 'image/png' %>
    <%= favicon_link_tag 'apple-icon-152x152.png',
                         rel: 'apple-touch-icon', sizes: '152x152', type: 'image/png' %>
    <%= favicon_link_tag 'apple-icon-180x180.png',
                         rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' %>
    <%= favicon_link_tag 'android-icon-192x192.png',
                         rel: 'icon', sizes: '192x192', type: 'image/png' %>

    <%= favicon_link_tag 'manifest.json', rel: 'manifest' %>
    <meta name="apple-mobile-web-app-title" content="intaug BBS">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                                async: !Rails.application.config.assets.debug,
                                defer: true,
                                'data-turbolinks-track': 'reload' %>

      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

  <body class="app">
<% is_thredded = content_for?(:thredded_page_id) %>
<%= content_tag :div,
                class: 'app-container',
                id: ('app-page-container' unless is_thredded) do %>
  <%= render 'shared/header' %>
  <%= render 'shared/flash_messages' unless is_thredded %>
  <div class="app-content-container"><%= yield %></div>

  <hr />
  <div class="app-content-container">
    <%= link_to 'About', '/about' %>
    |
    <%= link_to 'Code of Conduct', 'https://gist.github.com/mathias/0e71514cfe371235f813e861fc87aa14' %>
    |
    BTC: <%= link_to '1LtHWR8dPnXUp9LwRKei367oD6kk1UL46Y', 'bitcoin:1LtHWR8dPnXUp9LwRKei367oD6kk1UL46Y' %>
  </div>

  <%# If the app JS is loaded via an [async] script, the JS may
  run before or after DOMContentLoaded. Expose a flag, so it can
  initialize correctly. %>
  <script data-turbolinks-eval="false">
    document.addEventListener('DOMContentLoaded', function() {
      (window.App = window.App || {}).DOMContentLoadedFired = true;
    });
  </script>
<% end %>
</body>

</html>
